<div class="card">
  <div class="header">
    <h3>{{ solicitacao.cliente }}</h3>

    <span class="status" [ngClass]="solicitacao.statusClass">
      {{ solicitacao.statusLabel }}
    </span>
  </div>

  <div class="content">
    <div class="col">
      <span>Documento</span>
      <span>Valor Solicitado</span>
      <span>Data da Solicitação</span>
    </div>

    <div class="col right">
      <span>{{ solicitacao.documento }}</span>

      <span class="valor">
        {{ solicitacao.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
      </span>

      <span>
        {{ solicitacao.dataSolicitacao | date:'dd/MM/yyyy' }}
      </span>
    </div>
  </div>
</div>