<div class="page-container">
  <!-- HEADER -->
  <app-header [title]="'APP.TITLE' | translate"></app-header>

  <!-- RESUMO -->
  <app-resumo-solicitacoes [lista]="facade.listaFiltrada()"></app-resumo-solicitacoes>

  <!-- TOP BAR -->
  <div class="top-bar">
    <!-- ESQUERDA -->
    <div class="left">
      <button type="button" class="btn-novo" (click)="irParaNova()">
        {{ 'ACTIONS.NEW_REQUEST' | translate }}
      </button>

      <app-busca-solicitacoes (buscaChange)="facade.aplicarBusca($event)"></app-busca-solicitacoes>
    </div>

    <!-- DIREITA -->
    <div class="right">
      <app-filtro-solicitacoes
        (filtroChange)="facade.aplicarFiltro($event)"
      ></app-filtro-solicitacoes>
    </div>
  </div>

  <!-- LISTA -->
  <div class="lista">
    <div *ngFor="let item of facade.listaFiltrada(); trackBy: trackById">
      <app-solicitacao-item [solicitacao]="item"></app-solicitacao-item>
    </div>
  </div>
</div>
